{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <br>
    <h1> {{user.first_name}} {{user.last_name}} Profile </h1>
    <br>
    <div class="container">

      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="{{author.pic.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
              <p class="card-text">Username: {{user.username}}</p>
              <p class="card-text">No Of reviews: {{no_reviews}}</p>
              <p class="card-text"><i class="fab fa-instagram"></i> <a href="{{insta_handle}}">{{author.insta}}</a> </p>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Profile</h5>

              <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.email | as_crispy_field }}
                {{ user_form.username | as_crispy_field}}
                {{ user_form.first_name | as_crispy_field}}
                {{ user_form.last_name | as_crispy_field}}
                {{ profile_form.insta | as_crispy_field}}
                {{ profile_form.pic | as_crispy_field}}

                <input type="submit" value="Update Profile" class="btn btn-outline-success">
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock %}
